<p>{{ 'victoire_widget_form.message.admin.greeting'|trans }}</p>
<p>{{ 'victoire_widget_form.message.admin.newMessage'|trans }}</p>
<br/>
<dl>
{% for field in data %}
    <dt>
        <strong>{{ field.label }}</strong>
    </dt>
    <dd>
        <p style="border-radius: 5px; background-color: #dedede; padding: 15px; margin-bottom: 10px;">
            {{ field.value|raw }}
        </p>
    </dd>
{% endfor %}
</dl>

<p><a href="{{ url }}">{{ url }}</a></p>