<div class="col-xs-12">
    <div class="form-group">
        <label for="securimage_code" class="control-label">Captcha<span class="required">*</span></label>
        <p id="widget-form-missing-recaptcha-{{ widget.id }}" class="hidden bg-danger">{{ 'widget_form.form.captcha.error' | trans({}, 'victoire') }}</p>
        <img alt="Captcha Image" id="securimage-image-{{ widget.id }}" src="data:image/png;base64,{{ securimage_html }}" style="margin: 0 auto;"/>
        <div class="input">
            <input type="hidden" name="securimage_namespace" id="securimage-namespace-{{ widget.id }}" value="{{ securimage_namespace }}">
            <input class="form-control" id="securimage-code-{{ widget.id }}" name="securimage_code" type="text" required="required">
        </div>
    </div>
    <script type="text/javascript">
        (function(){
            $('#form-' + {{ widget.id }}).on('submit', function(e) {
                $missingRecaptcha = $('#widget-form-missing-recaptcha-{{ widget.id }}');
                if (!$missingRecaptcha.hasClass('hidden')) { $missingRecaptcha.toggleClass('hidden') };
                if(!$(this).attr('validated')) {
                    $.ajax({
                        url         : '{{ path('victoire_form_captcha_securimage') }}',
                        data        : $(this).serialize(),
                        type        : 'POST',
                    }).done(function(response) {
                        if (response.valid) {
                            $form = $('#form-' + {{ widget.id }});
                            $form.attr('validated', true);
                            $form.submit();
                        } else {
                            $missingRecaptcha.toggleClass('hidden');
                            $('#securimage-image-{{ widget.id }}').replaceWith($('<img alt="Captcha Image" id="securimage-image-{{ widget.id }}" src="data:image/png;base64,'+ response.securimage_html +'" style="margin: 0 auto;"/>'));
                            $('#securimage-namespace-{{ widget.id }}').val(response.securimage_namespace);
                            $('#securimage-code-{{ widget.id }}').val('');
                        }
                    }).fail(function(response) {
                        console.error('Request has failed');
                    });
                    return false;
                }
                return true;
            });
        })()
    </script>
</div>
